* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: white;
  font-family: monospace;
}

h1 {
  text-align: center;
  padding: 1.5rem;
}

.city-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.city-input-wrapper input,
.city-input-wrapper button {
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  border: none;
}

.city-input-wrapper button {
  background-color: rgb(30, 160, 30);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.city-input-wrapper button:hover {
  background-color: green;
}

.results-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
  flex-direction: column;
}

/* loader */

.loader {
  width: 28px;
  height: 28px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
