* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 56, 56);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding-block: 20px;
}

.weather-info {
  margin: auto;
  width: 400px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.weather-info button,
.weather-info input {
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.weather-info button {
  background-color: rgb(44, 44, 255);
  cursor: pointer;
  color: white;
}

.weather-info button:hover {
  background-color: blue;
}
